.loader {
  display: block;
  margin: 0 auto;
  position: fixed;
  bottom: 20px;
  right: 0;
  left: 0;
  width: 190px;
  height: 120px;
}
.loader li {
  display: inline-block;
  position: absolute;
  margin: 0 0.2rem;
  bottom: 55px;
  background: #e9a87c;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #f0c5a8, #e18b51);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #f0c5a8, #e18b51);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #f0c5a8, #e18b51);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(top, #f0c5a8, #e18b51);
  /* Standard syntax */
}
.loader #thumb-li {
  display: inline-block;
  position: absolute;
  margin: 0 0.2rem;
  height: 26px;
  width: 30px;
  right: 140px;
  bottom: 55px;

  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -ms-transform: rotate(15deg);
  /* IE 9 */
  -webkit-transform: rotate(15deg);
  /* Chrome, Safari, Opera */
  transform: rotate(15deg);

  background: #e9a87c;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #f0c5a8, #e18b51);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #f0c5a8, #e18b51);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #f0c5a8, #e18b51);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(top, #f0c5a8, #e18b51);
  /* Standard syntax */
}
.loader #finger1 {
  height: 50px;
  animation: upanddown1 1.7s 0.5s linear infinite;
  right: 37px;
  width: 20px;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.loader #finger2 {
  height: 60px;
  animation: upanddown2 1.7s 0.7s linear infinite;
  right: 59px;
  width: 23px;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.loader #finger3 {
  height: 65px;
  animation: upanddown34 1.7s 1s linear infinite;
  right: 84px;
  width: 25px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.loader #finger4 {
  height: 64px;
  animation: upanddown34 1.7s 1.3s linear infinite;
  right: 111px;
  width: 24px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes upanddown1 {
  0% {
    bottom: 55px;
    height: 50px;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  25% {
    bottom: 85px;
    height: 30px;
    border-top-right-radius: 26px;
    border-top-left-radius: 26px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  50% {
    bottom: 55px;
    height: 50px;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  100% {
    bottom: 55px;
    height: 50px;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
@keyframes upanddown2 {
  0% {
    bottom: 55px;
    height: 60px;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  25% {
    bottom: 85px;
    height: 40px;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
  }
  50% {
    bottom: 55px;
    height: 60px;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  100% {
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    bottom: 55px;
    height: 60px;
  }
}
@keyframes upanddown34 {
  0% {
    bottom: 55px;
    height: 65px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  18% {
    bottom: 85px;
    height: 45px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
  }
  36% {
    bottom: 55px;
    height: 65px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  100% {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    bottom: 55px;
    height: 65px;
  }
}